<template>
  <div class="home">
    <Hero />
    <div class="page-row clearfix">
      <div class="page-column">
        <div class="reviews">
          <Title
            class="reviews__title"
            text="Lorem ipsum, dolor sit amet consectetur adipisicing elit."
          />
          <Review
            size="lg"
            authorImg="author_img.jpg"
            message="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam quas, aut consectetur
              animi  autem aliquid consequuntur suscipit exercitationem laborum cupiditate magnam eaque quae deleniti, iste nisi
              expedita, provident excepturi officia!
              Porro ab rerum omnis magnam eligendi error nobis dolore? Porro ab rerum omnis magnam eligendi error nobis dolore? Porro ab rerum omnis magnam eligendi error nobis dolore?"
            authorName="Jane Doe"
          />
          <div class="page-row clearfix">
            <div class="page-column">
              <Review
                :reverse="true"
                authorImg="author_img.jpg"
                message="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam quas, aut consectetur
                animi  autem aliquid"
                authorName="Jane Doe"
              />
            </div>
            <div class="page-column">
              <Review
                authorImg="author_img.jpg"
                message="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam quas, aut consectetur
                animi  autem aliquid"
                authorName="Jane Doe"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="page-column"></div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import Title from "@/components/base/MainTitle.vue";
import Hero from "@/components/appHero.vue";
import Review from "@/components/Review.vue";

export default {
  name: "Home",
  components: {
    Hero,
    Review,
    Title,
  },
};
</script>

<style lang="scss" scoped>
.page-column {
  width: 50%;
  float: left;
}

.reviews {
  background: #f5f5f5;
  padding-top: 101px;
  padding-left: 130px;
  padding-right: 80px;

  &__title {
    margin-bottom: 45px;
  }

  .review--lg {
    padding-bottom: 130px;
  }
}
</style>
