<template>
  <button
    class="btn"
    :class="btnName === 'primary' ? 'btn--primary' : 'btn--default'"
  >
    {{ text }}
  </button>
</template>

<script>
export default {
  props: {
    text: {
      type: String,
      required: true,
    },
    btnName: {
      type: String,
    },
  },
};
</script>

<style lang="scss" scoped>
.btn {
  border: 0;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &--primary {
    color: #ffffff;
    font-size: 16px;
    line-height: 1.5;
    background-color: #00c368;
    box-shadow: 0px 8px 16px rgba(0, 195, 104, 0.4);
    border-radius: 8px;
    padding: 4px 35px;
  }

  &--primary:hover {
    background-color: darken(#00c368, 4%);
  }
  &--primary:active {
    background-color: darken(#00c368, 7%);
  }
}
</style>
