<template>
  <header class="header">
    <div class="header__container clearfix">
      <a href="" class="header__logo">
        <svg
          width="318"
          height="93"
          viewBox="0 0 318 93"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M285.792 36.8271C285.792 38.6458 285.338 40.919 284.431 43.1923C283.524 45.4656 282.163 47.2842 280.802 49.5575C279.441 51.8308 277.626 53.6494 275.812 55.0134C273.997 56.832 272.636 58.196 270.822 60.0146L267.646 62.2879V62.7426L271.275 61.8332H280.802L279.441 67.7438H258.573L259.481 64.1065C260.388 63.1972 261.749 61.8332 263.11 60.9239C264.471 59.56 265.832 58.196 267.193 56.832C268.554 55.4681 270.368 53.6494 271.729 52.2855C273.09 50.9215 274.451 49.1029 275.358 47.7389C276.265 46.3749 277.173 44.5563 278.08 43.1923C278.987 41.8283 278.987 40.4644 278.987 39.1004C278.987 37.7364 278.534 36.8271 278.08 36.3725C277.626 35.4632 276.265 35.0085 274.451 35.0085C273.544 35.0085 272.183 35.4632 270.822 35.9178C269.461 36.3725 268.554 37.2818 267.193 38.1911L265.378 33.1899C267.193 31.8259 269.007 30.9166 270.822 30.4619C272.636 30.0073 274.451 29.5526 277.173 29.5526C279.894 29.5526 281.709 30.4619 283.524 31.8259C285.338 32.2806 285.792 34.5538 285.792 36.8271Z"
            fill="#A6ABBD"
          />
          <path
            d="M315.278 56.8317H309.381L307.113 67.7435H300.762L303.03 56.8317H287.606L288.514 52.7398L309.835 29.0977H315.278L310.742 51.3758H316.639L315.278 56.8317ZM306.205 42.7374L307.566 38.1908L304.844 42.2827L298.04 49.5572L294.864 51.8305L298.04 51.3758H303.937L306.205 42.7374Z"
            fill="#A6ABBD"
          />
          <path
            d="M318 17.277L316.185 17.7316L310.742 19.0956L295.318 22.2782L298.04 13.1851C276.719 7.27451 254.491 19.5502 248.14 40.9191C241.335 62.288 252.676 85.0208 273.544 92.75C251.315 85.0208 238.613 60.924 245.872 37.7365C253.13 15.0037 277.173 1.81863 299.855 8.63848L302.123 0L318 17.277Z"
            fill="#00C368"
          />
          <path
            d="M23.8633 54.4756L21.666 67H14.5127L20.6895 31.4531L33.1406 31.4775C36.9818 31.4775 40.001 32.5436 42.1982 34.6758C44.3955 36.8079 45.3558 39.5911 45.0791 43.0254C44.8187 46.5085 43.362 49.2917 40.709 51.375C38.0723 53.4583 34.7031 54.5 30.6016 54.5L23.8633 54.4756ZM24.8643 48.543L30.8213 48.5918C32.7419 48.5918 34.3369 48.0954 35.6064 47.1025C36.876 46.1097 37.6328 44.7669 37.877 43.0742C38.1211 41.3815 37.8444 40.0306 37.0469 39.0215C36.2656 38.0124 35.1019 37.4753 33.5557 37.4102L26.8174 37.3857L24.8643 48.543ZM61.29 53.9873H55.4795L53.209 67H46.0557L52.2324 31.4531L64 31.4775C67.9388 31.4775 70.9661 32.4053 73.082 34.2607C75.2142 36.1162 76.1582 38.696 75.9141 42C75.5723 46.8828 72.9681 50.2764 68.1016 52.1807L73.1064 66.6094V67H65.4893L61.29 53.9873ZM56.5049 48.0547L61.8271 48.1035C63.7152 48.071 65.2695 47.5664 66.4902 46.5898C67.7272 45.597 68.4678 44.2542 68.7119 42.5615C68.9398 40.9827 68.6875 39.7458 67.9551 38.8506C67.2227 37.9554 66.0589 37.4753 64.4639 37.4102L58.3604 37.3857L56.5049 48.0547ZM91.5391 67.4883C89.179 67.4395 87.0957 66.8861 85.2891 65.8281C83.4987 64.7539 82.0745 63.2158 81.0166 61.2139C79.9749 59.1956 79.3727 56.8844 79.21 54.2803C79.0309 51.611 79.3158 48.7627 80.0645 45.7354C80.8132 42.708 82.0176 40.0469 83.6777 37.752C85.3379 35.457 87.2829 33.7399 89.5127 32.6006C91.7588 31.4613 94.1839 30.916 96.7881 30.9648C99.1807 31.0137 101.272 31.5833 103.062 32.6738C104.853 33.748 106.261 35.3024 107.286 37.3369C108.312 39.3551 108.897 41.6501 109.044 44.2217C109.207 47.0863 108.897 50.0322 108.116 53.0596C107.335 56.0869 106.122 58.7074 104.479 60.9209C102.835 63.1344 100.906 64.7946 98.6924 65.9014C96.4951 67.0081 94.1107 67.5371 91.5391 67.4883ZM101.671 48.25L101.866 45.9307C102.029 43.0335 101.638 40.8363 100.694 39.3389C99.7666 37.8415 98.3506 37.0602 96.4463 36.9951C93.4678 36.8975 91.0996 38.2158 89.3418 40.9502C87.6003 43.6846 86.6156 47.5094 86.3877 52.4248C86.2249 55.3057 86.6074 57.5273 87.5352 59.0898C88.4629 60.6361 89.9033 61.4417 91.8564 61.5068C94.4118 61.6208 96.5277 60.6279 98.2041 58.5283C99.8805 56.4124 100.979 53.4258 101.5 49.5684L101.671 48.25ZM110.997 67L117.174 31.4531L127.379 31.4775C129.771 31.5264 131.92 32.0716 133.824 33.1133C135.745 34.1387 137.299 35.6198 138.487 37.5566C139.675 39.4935 140.392 41.6745 140.636 44.0996C140.766 45.5156 140.75 46.9642 140.587 48.4453L140.416 49.7393C139.7 54.9476 137.649 59.1305 134.264 62.2881C130.895 65.4294 126.801 67 121.983 67H110.997ZM123.302 37.3857L119.176 61.1162L122.154 61.1406C125.442 61.1406 128.079 59.9362 130.064 57.5273C132.066 55.1185 133.214 51.4808 133.507 46.6143L133.556 45.833C133.604 43.1475 133.092 41.0885 132.018 39.6562C130.943 38.224 129.34 37.4753 127.208 37.4102L123.302 37.3857ZM175.206 31.4531L171.202 54.8906C170.649 58.8132 169.021 61.9137 166.319 64.1924C163.618 66.471 160.265 67.5778 156.261 67.5127C153.754 67.4639 151.573 66.9186 149.718 65.877C147.879 64.819 146.52 63.3379 145.641 61.4336C144.762 59.513 144.461 57.3402 144.737 54.915L148.717 31.4531H155.87L151.891 54.9395C151.777 55.8509 151.769 56.7054 151.866 57.5029C152.192 60.1396 153.762 61.5068 156.578 61.6045C158.596 61.6696 160.248 61.1162 161.534 59.9443C162.82 58.7725 163.65 57.096 164.024 54.915L168.028 31.4531H175.206ZM203.941 55.1348C203.665 57.5924 202.826 59.7734 201.427 61.6777C200.027 63.5658 198.204 65.0225 195.958 66.0479C193.712 67.057 191.287 67.5371 188.683 67.4883C186.339 67.4395 184.296 66.9023 182.555 65.877C180.813 64.8353 179.438 63.3379 178.429 61.3848C177.436 59.4154 176.874 57.153 176.744 54.5977C176.63 52.5957 176.834 50.1055 177.354 47.127C177.892 44.1484 178.836 41.5036 180.187 39.1924C181.554 36.8812 183.173 35.0501 185.045 33.6992C187.682 31.8112 190.693 30.8997 194.078 30.9648C197.757 31.0299 200.67 32.1693 202.818 34.3828C204.983 36.5801 206.171 39.64 206.383 43.5625L199.254 43.5381C199.254 41.292 198.806 39.6481 197.911 38.6064C197.016 37.5648 195.624 37.0114 193.736 36.9463C191.295 36.8649 189.285 37.7357 187.706 39.5586C186.144 41.3815 185.094 44.0426 184.557 47.542C184.036 50.9437 183.808 53.4909 183.873 55.1836C183.954 57.332 184.435 58.9189 185.313 59.9443C186.192 60.9535 187.421 61.4824 189 61.5312C191.181 61.6126 192.923 61.0999 194.225 59.9932C195.543 58.8701 196.414 57.2669 196.837 55.1836L203.941 55.1348ZM237.34 37.3857H226.793L221.666 67H214.513L219.64 37.3857H209.215L210.265 31.4531H238.39L237.34 37.3857Z"
            fill="#A6ABBD"
          />
        </svg>
      </a>
      <div class="header__nav clearfix">
        <a href="" class="header__nav-link">NavItem1</a>
        <a href="" class="header__nav-link">NavItem2</a>
        <a href="" class="header__nav-link header__nav-link--active"
          >NavItem3</a
        >
      </div>
      <div class="header__right">
        <Btn text="Button" btnName="primary" />
        <!-- <button class="btn btn--primary">Button</button> -->
      </div>
    </div>
  </header>
</template>

<script>
import Btn from "@/components/base/Button.vue";
export default {
  components: {
    Btn,
  },
};
</script>

<style lang="scss" scoped>
.header {
  padding: 30px 0;

  &__container {
    max-width: 1750px;
    margin: 0 auto;
    padding: 0 20px;
  }

  &__logo {
    float: left;
  }

  &__nav {
    float: left;
    margin-top: 32px;
  }

  &__nav-link {
    float: left;
    text-decoration: none;
    color: #a6abbd;
    font-size: 16px;
    line-height: 1.5;
    margin-left: 85px;
    padding: 4px 24px;
    transition: all 0.3s ease-in-out;
  }

  &__nav-link:hover {
    color: #000;
  }

  &__nav-link--active {
    color: #ffffff;
    background: #00c368;
    box-shadow: 0px 8px 16px rgba(0, 195, 104, 0.4);
    border-radius: 8px;
  }

  &__nav-link--active:hover {
    color: #ffffff;
    background-color: darken(#00c368, 4%);
  }

  &__nav-link--active:active {
    background-color: darken(#00c368, 7%);
  }

  &__right {
    float: right;
    margin-top: 32px;
  }
}
</style>
