<template>
  <h1 class="title" :class="uppercase ? 'title--lg' : ''">
    {{ text }}
  </h1>
</template>

<script>
export default {
  props: {
    text: {
      type: String,
      required: true,
    },
    uppercase: {
      type: Boolean,
      default: false,
    },
  },
};
</script>

<style lang="scss" scoped>
.title {
  margin: 0;
  color: #2e3a59;
  font-size: 40px;
  line-height: 1.2;
  font-weight: bold;
  &--lg {
    text-transform: uppercase;
  }

  &:before {
    content: "";
    display: block;
    margin: 0 auto 18px;
    width: 184px;
    height: 4px;
    background: #00c368;
  }
}
</style>
