<template>
  <div
    class="review clearfix"
    :class="
      size === 'lg'
        ? 'review--lg'
        : 'review--sm' && reverse
        ? 'review--reverse'
        : ''
    "
  >
    <div class="review__author-img" v-if="!reverse">
      <img
        :src="require('../assets/images/' + authorImg)"
        alt=""
        class="review__author-img-pic"
      />
    </div>
    <div class="review__content">
      <p class="review__text">{{ message }}</p>
      <div class="review__author-name">{{ authorName }}</div>
    </div>
    <div class="review__author-img" v-if="reverse">
      <img
        :src="require('../assets/images/' + authorImg)"
        alt=""
        class="review__author-img-pic"
      />
    </div>
  </div>
</template>
<script>
export default {
  props: {
    reverse: {
      type: Boolean,
      default: false,
    },
    size: {
      type: String,
      default: "sm",
    },
    message: {
      type: String,
      required: true,
    },
    authorName: {
      type: String,
    },
    authorImg: {
      type: String,
    },
  },
};
</script>

<style lang="scss" scoped>
.review {
  &--lg {
    .review__author-img-pic {
      width: 187px;
      height: 187px;
    }

    .review__content {
      padding-left: 70px;
    }

    .review__content:before {
      content: "";
      display: block;
      width: 40px;
      height: 26px;
      background-image: url("../assets/images/quotes.svg");
      margin-bottom: -26px;
      margin-left: -57px;
    }

    .review__content:after {
      content: "";
      display: block;
      width: 40px;
      height: 26px;
      background-image: url("../assets/images/quotes.svg");
      margin-left: auto;
      transform: rotate(-180deg);
      margin-top: -30px;
    }
  }
  &--reverse {
    .review__content {
      padding-left: 0;
      padding-right: 23px;
    }
  }
  &__author-img {
    float: left;
  }

  &__author-img-pic {
    width: 97px;
    height: 97px;
    object-fit: cover;
    filter: drop-shadow(0px 8px 15px rgba(0, 0, 0, 0.5));
    border-radius: 50%;
  }

  &__content {
    float: left;
    width: calc(100% - 187px);
    text-align: left;
    box-sizing: border-box;
    padding-left: 23px;
  }

  &__text {
    margin: 0;
    color: #2e3a59;
    font-size: 16px;
    line-height: 1.5;
  }

  &__author-name {
    color: #2e3a59;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    margin-top: 15px;
  }
}
</style>
